.wrapper{
    width: 100%;
    height: 100vh;
    background-image: url("https://images.pexels.com/photos/6432931/pexels-photo-6432931.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-position: center;
    background-size: cover;
}

.pm{
    padding: 0;
    margin: 0;
    color: white;
}
