/* IF CSS FILE NAME ENDS WITH FILENAME.MODULE.CSS IT IS LOCAL 
WE CAN ONLY USE INDE COMPONENT
ON IN WHOLE PROJECT */

.h1{
    width: 50%;
    color: rgb(102, 102, 175);
    border: 3px solid rgb(146, 146, 253);
    padding: 5px 20px;
    background-color: rgb(22, 22, 66);
    margin-left: 25%;
}